/* css/style.css */

/* 1. VARIÁVEIS */
@import url('./atomic/variables.css');

/* 2. ÁTOMOS */
@import url('./atomic/atoms/global.css');
@import url('./atomic/atoms/button.css');
@import url('./atomic/atoms/section-title.css');
@import url('./atomic/atoms/slider.css');

/* 3. MOLÉCULAS */
@import url('./atomic/molecules/search-bar.css');
@import url('./atomic/molecules/user-actions.css');
@import url('./atomic/molecules/book-card.css'); 
@import url('./atomic/molecules/social-links.css');
@import url('./atomic/molecules/hamburger-menu.css');
@import url('atomic/molecules/user-welcome.css');   /* <-- ESTA LINHA É NOVA */
@import url('atomic/molecules/library-book.css');

/* 4. ORGANISMOS */
@import url('./atomic/organisms/header.css');
@import url('./atomic/organisms/nav.css');
@import url('./atomic/organisms/book-section.css');
@import url('./atomic/organisms/hero-carousel.css');
@import url('./atomic/organisms/footer.css');
@import url('./atomic/organisms/header-wrapper.css');
@import url('atomic/organisms/checkout-section.css');
@import url('atomic/organisms/dashboard-layout.css'); /* <-- ESTA LINHA É NOVA */
@import url('atomic/organisms/orders-widget.css');    /* <-- ESTA LINHA É NOVA */
@import url('atomic/organisms/library-grid.css');
@import url('/css/atomic/organisms/product-card.css');
@import url('atomic/organisms/checkout.css');
