/* css/atomic/molecules/book-card.css */
.book-card {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espaço entre os elementos do card */
}

.book-cover {
    width: 100%;
    max-width: 200px; /* Largura máxima da capa */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 1.5rem;
    color: var(--color-text);
}

.book-description {
    font-size: 0.9rem;
    color: #666;
    flex-grow: 1; /* Faz a descrição ocupar o espaço disponível */
}

.book-price {
    font-size: 1.6rem; /* Um pouco maior para dar destaque */
    font-weight: bold;
    color: var(--color-primary); /* Usando a cor principal do site */
}

.old-price {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through; /* Efeito de riscado */
    margin-right: 10px;
}