@import "/css/atomic/variables.css";

.thumbnail-navigation {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.thumbnails {
    display: flex;
    gap: var(--spacing-sm);
    flex-grow: 1; 
    justify-content: space-around;
}

/* ÁTOMO: Miniatura (Thumbnail Item) */
.thumbnail-item {
    width: 80px; 
    height: 80px;
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid transparent; 
    border-radius: 5px;
    transition: border 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-gray); 
}

/* Estilo de Estado */
.thumbnail-item.active {
    border-color: var(--color-accent-orange); 
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* ÁTOMO: Botão de Navegação (Arrow Button) */
.nav-arrow {
    background: none;
    border: 1px solid var(--color-border-light); 
    color: var(--color-text-dark); 
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.nav-arrow:hover {
    background-color: var(--color-light-gray); 
}