/* css/atomic/molecules/user-welcome.css */

.user-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-secondary); /* Laranja do seu tema */
    flex-shrink: 0;
}

.user-welcome h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-text);
    line-height: 1.2;
}