/* css/atomic/atoms/slider.css */
.book-slider {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    gap: 30px; /* Espaçamento entre os cards */
    overflow-x: auto; /* Permite rolar horizontalmente se necessário */
    padding: 10px;
    scrollbar-width: none; /* Esconde a barra de rolagem no Firefox */
    -ms-overflow-style: none;  /* Esconde a barra de rolagem no IE e Edge */
}
.slider-wrapper::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem no Chrome, Safari e Opera */
}

.arrow-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-arrow {
    left: -20px;
}

.right-arrow {
    right: -20px;
}

@media (max-width: 768px) {
    /* Move as setas para dentro do container */
    .left-arrow {
        left: 5px;
    }

    .right-arrow {
        right: 5px;
    }
}