/* css/atomic/variables.css */

:root {
  --color-primary: #004B8D;
  --color-primary-darker: #004B8D;
  --color-secondary: #f39c12;
  --color-accent: #3498db;
  --color-light-gray: #f2f2f2;
  --color-white: #ffffff;
  --color-text: #333333;
  --color-text-light: #f1f1f1;
}