/* css/atomic/organisms/footer.css */

.main-footer {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 50px 0;
}

.footer-content {
    display: grid;
    /* Cria 4 colunas de tamanho igual */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; /* Espaço entre as colunas */
}

.footer-column h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

/* Linha decorativa embaixo do título da coluna */
.footer-column h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: var(--color-secondary); /* Laranja */
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column a {
    color: var(--color-text-light);
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: var(--color-secondary);
}

/* --- Estilos do Sub-Footer --- */
.sub-footer {
    background-color: var(--color-primary-darker);
    color: #a0a0a0;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
}


@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr); /* Muda para 2 colunas */
    }
}

/* Telas de até 480px (Celulares) -> 1 coluna */
@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: 1fr; /* Muda para 1 coluna */
    }
}