/* css/atomic/organisms/header.css */

.main-header {
    background-color: var(--color-primary);
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

@media (max-width: 768px) {

    /* Mantém o header em uma linha, mas esconde o que não precisa */
    .main-header {
        position: relative;
    }

    .logo img {
        height: 45px;
    }

    .search-bar input::placeholder {
        font-size: 13px;
    }

    .search-bar {
        width: 60%;
        /* Ajusta a largura da busca */
    }
}