.header-sticky-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000; /* Um valor alto para garantir que fique sobre todo o conteúdo */
}

.header-sticky-wrapper {
    transition: transform 0.3s ease-in-out;
}

/* A nova classe que vai esconder o header */
.header-sticky-wrapper--hidden {
    transform: translateY(-100%); /* Desliza o header para cima */
}